@font-face {
	font-family: 'Belwe-Bold';
	src: url('../fonts/Belwe-Bold.woff2') format('woff2'),
			 url('../fonts/Belwe-Bold.woff') format('woff'),
			 url('../fonts/Belwe-Bold.ttf') format('truetype');
}
/*ABOUT PAGE*/
body{
	font-family: Belwe-Bold, Arial, Helvetica;
	margin: 0;
 background-color: #F7941E;
     overflow-x: hidden;
     position: relative;
      padding-bottom: 100px;
}
.width-960 {
margin: 0 auto;
max-width: 100%;
}
.flex {
	display: flex;
}

/*MAP.LOGO*/
.map {
margin: 30px;
flex: 1;
}
.picture1 {
max-width: 100%;
border: #000000 2px solid;  
margin-bottom: 10px;
}
iframe {
	border: #000000 2px solid;
	height: 400px;
	max-width: 100%;
}
/*ABOUT S2F*/
.about-s2f {
flex: 1;
align-items: center;
margin: 30px;
}
.info {
	font-size: 25px; 
	 text-shadow:
		-2px -2px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	color: #ffffff;
	text-align: center;
line-height: 40px;
	
}
.picture2 {
max-width: 100%; 
}

/*MOBILE FRIENDLY*/
@media screen and (max-width: 790px) {
.flex {
  flex-wrap: wrap;
}
.map {
  flex-basis: 100%;
  order:1;
}
.info {
  font-size: 1rem;
  line-height: 25px;
}
}