@font-face {
  font-family: 'Belwe-Bold';
  src: url('../fonts/Belwe-Bold.woff2') format('woff2'),
       url('../fonts/Belwe-Bold.woff') format('woff'),
       url('../fonts/Belwe-Bold.ttf') format('truetype');
}
/*HOMEPAGE*/
body{
  font-family: Belwe-Bold, Arial, Helvetica;
  margin: 0px auto;
  background-color: #F7941E;
  overflow-x: hidden;
    position: relative;
    padding-bottom: 70px;

}
.width-960 {
max-width: 100%;
margin: 0px auto;

}
.flex {
  display: flex;
}

/*MAIN PAGE*/
.overlay-logo {
  max-width: 100%;
  justify-content: center;
  display: flex;
}
.screenprint {
width: 100%;
 height: 700px;
 border: 5px solid #F7941E;
}
.logo {
max-width: 100%;
margin: 0px auto;
position: absolute;
left: 0px;
right: 0px;
align-self: center;
}
.between {
height: 100px;
display: block;
background-color: #000000;
}

/*MOBILE FRIENDLY*/
@media screen and (max-width: 768px) {
.screenprint {
 height: 500px;
}
.between {
height: 100px;

}
}
